*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgba(241, 243, 255, 1);
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
}

.offcanvas-header .btn-close {
  opacity: 1;
  background-size: 12px 12px;
}
/* handling navbar & offcanvas  end */

/* handling accordion start */
.accordion-button {
  color: black;
  background-color: grey;
}

/* handling accordion end */

/* handling sweet alert start */
.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}
.swal2-popup {
  font-size: 1.6rem !important;
}
/* handling sweet alert end */
