*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
  background-color: #e5e5e5;
}

header {
  background-color: rgba(241, 243, 255, 1);
}

.navbar-toggler .navbar-toggler-icon {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas-header .btn-close {
  opacity: 1;
  background-size: 12px 12px;
}
